* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #18314F;
  color: #FFF;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
  text-align: center;
  empty-cells: show;
}

.todoentry {
  background-color: #EA9999;
  color:#000;
}
.doneentry {
  background-color: #8BBEB2;
  color: black;
  text-decoration-line: line-through;
}

.tableheader {
  background-color: #384E77;
}

tr {
  height: 20px;
}

.entryName {
  text-align: left;
}

.todoentry:hover {
  /* background-color: #E6F9A4; */
  text-decoration-line: line-through;
}

.doneentry:hover {
  text-decoration-line: none;
  /* background-color: #E6F9A4; */
}

.settingsButton {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  margin-right: 2px;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-top: 10px;
}

#center {
  margin: auto;
  width: 100%;
  padding: auto;
}
.twocolumn {
  flex-direction: row;
  display: flex;
}
.item {
  width: 500px;
}
.cat {
  width: 100px;
}
.due {
  width: 100px;
}
input[type="submit"], button {
  border: none;
  background-color: #0D0630;
  text-align: center;
  color: #FFF;
  width: 100px;
  height: 30px;
}

input[type="submit"]:hover, button:hover {
  background-color: #384E77;
}

#newTask {
  margin-top: 10px;
}

#write, #catWrite{
  width: 500px;
  height: 25px;
}

.settings {
  background-color: #18314F;
}

.subnavMenu {
  background-color: #384E77;
  color:#FFF;
}

li {
  display:inline-block;
  margin-right: 10px;
  background-color: #0D0630;
  text-align: center;
  color: #FFF;
  padding: 10px 20px;
}

li:hover {
  background-color: #384E77;
}

#catWrite {
  width: 300px;
}